
#btnStudentInfo {
	/* 
	 * -fx-background-color: skyblue;
	-fx-text-fill: red;
	-fx-padding: 6.0 6.0 6.0 6.0;
	-fx-border-radius: 8.0;
	-fx-font-weight : bold;
	*/
}
.root {
	/* 
	 *-fx-background-color: #deb887;
	 *  */
}
	
